---
import Layout from "$layouts/Layout.astro"
import { getCollection } from "astro:content"

const songs = (await getCollection("songs")).sort((a, b) =>
  a.data.title
    .replace(/^(a|the) /i, "")
    .localeCompare(b.data.title.replace(/^(a|the) /i, "")),
)
---

<Layout title="Songs">
  <ol class="list-decimal pl-24 text-xl space-y-4">
    {
      songs.map((song) => (
        <li>
          <a href={`/catalogue/songs/${song.slug}/`}>
            <span class="link !no-underline">{song.data.title}</span>
            {song.data.altTitle ? `(${song.data.altTitle})` : ""}
          </a>
        </li>
      ))
    }
  </ol>
</Layout>
