---
import Layout from "$layouts/Layout.astro"
---

<Layout title="Finger on the Trigger">
  <div class="max-w-lg p-2">
    This app supports offline mode. Just wait a while and all the pages should
    be loaded and ready to go, even if you lose your internet connection.<br
    /><br />

    You may need to add this site to your home screen to get it to work offline.
  </div>
</Layout>
