---
import Layout from "$layouts/Layout.astro"
import { shows } from "./shows"
---

<Layout title="Finger on the Trigger">
  <div class="px-2">
    <h1 class="text-2xl">Setlists</h1>
    <ul>
      {
        shows.map((show) => (
          <li>
            <a class="link ml-4" href={`/catalogue/shows/${show.slug}/`}>
              {show.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
